:root {
  --elements: #4d1410;
  --highlights: #ff887f;
  --dark-red: #a62d23;
  --border-red: #a62d23;

  --element-yellow: #c34500;
  --element-yellow-highlight: #ff5a00;
}

body {
  height: 100vh;
  max-height: 90vh;
}
#app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
#search-filters {
  height: 50px;
  width: 80%;
  background-color: var(--elements);
  position: relative;
  margin-bottom: 60px;
}
#searchbar {
  height: 100%;
  width: calc(100% - 40px);
  background-color: yellow;
  border-radius: 10px 0 0 10px;
}
#searchbar input {
  max-height: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: large;
  width: 100%;
}
#filter-button {
  border-left: 1px solid black;
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0px;
  top: 0px;
  background-color: var(--element-yellow);
  border-radius: 0 10px 10px 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE4IDE2Ij48cGF0aCBmaWxsPSIjMzMzIiBkPSJNOS43NjYgMTIuNTk5di01LjNsNS4yNjUtNS41ODVIMy4wMDNMOC4zMyA3LjI0M3Y2LjI1bDEuNDM1LS44OTR6bS0zLjE1LTQuNjY1bC02LjQtNi42NDJDLS4yNDUuODE1LjA4IDAgLjczIDBoMTYuNTRjLjY0NiAwIC45NzMuODA3LjUyMiAxLjI4NkwxMS40OCA3Ljk4djUuMTQyYS43NjMuNzYzIDAgMCAxLS4zNTUuNjVMNy43MjIgMTUuODljLS40ODcuMzAzLTEuMTA1LS4wNi0xLjEwNS0uNjVWNy45MzV6Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  
}
#filter-button.active {
  background-color: var(--element-yellow-highlight);
}
.inactive + #filters {
  display: none;
}
#filters {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--element-yellow);
  border-radius: 0 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#counter-list {
  width: 80%;
  flex: 1;
  background-color: var(--dark-red);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#counter-adder {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: green;
  bottom: 0px;
}
.counter {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--border-red);
  position: relative;
  font-size: xx-large;
  overflow: hidden;
}
.increase,
.decrease {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0px;
}
.increase {
  right: 0px;
  background-color: black;
}
.decrease {
  right: 50px;
  background-color: white;
}
.remove {
  width: 50px;
  text-align: center;
}
.round {
  border-radius: 10px;
}
#insideman {
  display: none;
  justify-content: center;
  align-items: center;
}
.cross {
  width: 50%;
  height: 50%;
  background-color: maroon;
  cursor: pointer;
}
.backdrop {
  opacity: 0.7;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#creation-modal {
  height: 200px;
  width: 400px;
  background-color: silver;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  position: fixed;
}
/* Filters shenanigans*/
input[type="checkbox"] {
  position: absolute;
  right: 0px;
}
input[type="range"] {
  position: absolute;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #003d7c;
  border-radius: 25px;
  z-index: 1;
}
/*end of filter shenanigans*/
@media (min-width: 960px) {
  body {
    margin: 0px;
    height: 100vh;
    max-height: 100vh;
  }
  #app-container {
    flex-direction: row;
    padding: 0px;
  }
  #search-filters {
    border-radius: 0px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  #searchbar {
    height: 50px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20px;
  }
  #filter-button {
    height: 50px;
    width: 10%;
    order: 2;
    position: static;
    cursor: pointer;
  }
  .inactive + #filters {
    display: flex;
    opacity: 0.3;
    cursor: not-allowed;
  }
  #filters {
    border-radius: 10px 0 0 10px;
    height: 50px;
    position: relative;
    width: 80%;
  }
  #counter-list {
    border-radius: 0px;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
  }
  #counter-adder {
    display: none;
  }
  .counter {
    width: 300px;
    height: 100px;
    margin-bottom: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  #insideman {
    display: flex;
  }
  #creation-modal {
    top: 40vh;
    left: 40vw;
  }
  .increase,
  .decrease {
    height: 50%;
    width: 50px;
    position: absolute;
    right: 0px;
    top: initial;
  }
  .increase {
    top: 0px;
    background-color: black;
  }
  .decrease {
    bottom: 0px;
    background-color: white;
  }
  .remove {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 35px;
    width: 35px;
  }
  input[type="range"] {
    width: 80%;
  }
  .inactive + #filters input[type="range"] {
    cursor: not-allowed;
  }
}
